--extra-index-url https://download.pytorch.org/whl/cu124

gradio==5.39.0

basicsr @ git+https://github.com/avan06/BasicSR
facexlib @ git+https://github.com/avan06/facexlib
gfpgan @ git+https://github.com/avan06/GFPGAN

numpy
opencv-python

torch==2.5.0+cu124; sys_platform != 'darwin'
torchvision==0.20.0+cu124; sys_platform != 'darwin'
torch==2.5.0; sys_platform == 'darwin'
torchvision==0.20.0; sys_platform == 'darwin'

scipy
tqdm
lmdb
pyyaml
yapf

image_gen_aux @ git+https://github.com/huggingface/image_gen_aux
gdown # supports downloading the large file from Google Drive